<div class="user_show_container">
  <div>
    <%= render @user %>
  </div>

  <div class="bio">
    <p>Bio</p>
    <p><%= @user.bio %></p>
  </div>

  <div class = "post_ul">
    <%= render @user.three_most_recent_posts %>
  </div>
  
  <%= link_to user_posts_path(@user.id) do %>
    <%= button_tag 'See all posts', type: 'button' %>
  <% end %>
</div>
