<%= form_with model: @post, url: user_posts_path, class: "post-form" do |form| %>

  <div class="post-field">
    <%= form.label :title %><br>
    <%= form.text_field :title, size: "70x1" %>
  </div>

  <div class="post-texta">
    <%= form.label :text %><br>
    <%= form.text_area :text, size: "70x5" %>
  </div>

  <div>
    <%= form.submit %>
  </div>

<% end %>
